//colors
$primary-color : #04071A;
$secondary-color : #181B2E;
$light-purple: #5867DD;
$green: #0ABB87;
$gray: #a0a0a0;
$white: #cdcdcd;

//fonts
$shabnamFont: shabnam;
$shabnamBoldFont: shabnam-bold;
$ranchoFont: rancho;
$poppinsFont: poppins;
$poppinsBoldFont: poppins-bold;

//media sizes
$small-br: 576px;
$medium-br: 768px;
$large-br: 992px;
$extra-large-br: 1200px;
$extra-extra-large-br: 1400px;