.layout {
    display: flex;
    background-color: $primary-color;
    height: 100%;

    &__right {
        flex-basis: 100px;
        align-self: stretch;
        background-color: $secondary-color;
    }

    &__left {
        flex-grow: 1;
        overflow: scroll;

    }


}