.layout {
    display: flex;
    height: 100vh;
    background-color: $primary-color;


    &__right {
        flex-basis: 100px;
        background-color: $secondary-color;
    }

    &__left {
        // height: 100vh;
        flex-grow: 1;
    }


}