.videoPlayer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

    &:hover {
        .videoPlayer__controls {

            transform: translateX(-36%) translateY(0);

        }
    }

    video {
        width: 90%;
        height: 100%;
        overflow: hidden;


    }

    &__controls {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 8px;
        column-gap: 4px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-36%) translateY(100px);
        background-color: #616161;
        border-radius: 4px;
        opacity: 0.4;
        transition: 0.2s ease-in-out;

        &:hover {
            opacity: 0.8;
        }

        &__timer {
            position: relative;
            width: 300px;
            height: 40px;
            direction: ltr;

            div {
                background-color: #c20000;
                width: 0;
                height: 40px;
                direction: ltr;

            }

            span {
                position: absolute;
                transform: translateX(-50%) translateY(50%);
                left: 50%;
                bottom: 50%;
            }
        }
    }

}